/* reset for the whole page */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white; /* Full page background color */
}
/* end of reset */

/* -------------------------firstPage.html start below------------------------------- */

body {
  background-image: url('../images/Image_sunset.jpg'); /* Replace with the path to your image */
  background-size: cover; /* Ensures the image covers the entire page without changing its aspect ratio */
  background-position: center; /* Centers the image on the page */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 100%; /* Ensures the body takes up the full viewport height */
  margin: 0; /* Removes the default margin */
}

.welcome {
  height: 100vh; /* Viewport height */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* link on page top */
.top-nav-1 {
  position: absolute; /* Position it at a specific location on the page */
  top: 0; /* At the top of the page */
  left: 0; /* At the left side of the page */
  background-color: rgba(255, 255, 255, 0); /* Completely transparent background */
  padding: 30px; /* Add some padding */
}
.top-left {
  text-decoration: none; /* Remove underline from links */
  background-color: rgba(255, 255, 255, 0); /* Completely transparent background */
  color: white; /* Light grey text color */
  margin-right: 20px;
}
.top-nav-2 {
  position: absolute; /* Position it at a specific location on the page */
  top: 0; /* At the top of the page */
  right: 0; /* At the right side of the page */
  background-color: rgba(255, 255, 255, 0); /* Completely transparent background */
  padding: 30px; /* Add some padding */
}
.top-right {
  text-decoration: none; /* Remove underline from links */
  background-color: rgba(255, 255, 255, 0); /* Completely transparent background */
  color: white; /* Light grey text color */
  margin-right: 20px;
}

.welcome-wrap-h1 {
  background-color: rgba(255, 255, 255, 0); /* Completely transparent background */
}

.welcome-h1 {
  margin: 0;
  font-size: 2.5em; 
  background-color: rgba(255, 255, 255, 0); /* Completely transparent background */
}

.welcome-p {
  margin: 1em 0;
  font-size: 1.5em; 
  font-style: italic;
  background-color: rgba(255, 255, 255, 0); /* Completely transparent background */
  color: white; /* White text color */
}

/* buttons start */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  background-color: #fefefe;
  margin: 10% auto; /* Adjust to start 10% from the top and centered on the page */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Reduce width to 50%, adjust as necessary */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: center; /* Centers the buttons horizontally */
  gap: 20px; /* Space between the buttons */
  background-color: rgba(255, 255, 255, 0); /* Completely transparent background */
  margin-top: 5px;
}

.register-btn, .login-btn, .addtask-btn {
  padding: 10px 20px;
  text-decoration: none;
  color: white; /* Sets the text color to white */
  border: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  display: inline-flex; /* Aligns text in the center of the button */
  justify-content: center;
  align-items: center;
}

.register-btn {
  background-color: seagreen; /* Green background for the register button */
}

.register-btn:hover {
  background-color: mediumseagreen; /* Darker green on hover */
}

.login-btn, .addtask-btn {
  background-color: steelblue; /* Blue background for the login button */
}

.login-btn:hover, .addtask-btn:hover {
  background-color: lightblue; /* Darker blue on hover */
}
/* buttons end */

/* --------------------forms start below--------------------*/
/* Center the form container and expand it to cover the entire screen */
.formcontainer {
  align-items: center;
  height: 100%; /* make it full screen height */
  padding: 20px;
}

/* Style the header text */
.form-welcome {
  text-align: left;
  color: slategray;
  margin-left: 40px;
  margin-bottom: 20px;
}

hr {
  margin: 20px 40px 20px 40px;
}

/* style for the form label */
.label-left-align {
  text-align: left;
  display: block; /* Make the label occupy a whole line to ensure the text alignment takes effect */
}

/* Style for fields input */
.textfield input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid gainsboro; /* Light grey border */
  border-radius: 5px;
}

/* Style for fields label */
.textfield, .checkbox {
  margin: 5px 30px 10px 30px;
  color: dimgray; /* Label text color */
}

/* Style for the button submit */
button[type="submit"] {
  background-color: lightgreen; 
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px 5px 10px 30px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

/* Style for the button reset */
button[type="reset"] {
  background-color: tomato; 
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px 0px 10px 0px;
  padding: 10px 20px 10px 20px;
  cursor: pointer;
}

/* button hover effect */
button[type="submit"]:hover,
button[type="reset"]:hover {
  opacity: 0.7;
}

/* left margin space for checkbox texts */
.checkbox input[type="checkbox"] {
  margin-right: 10px;
}

/* input box extends to the entire width on small screens */
@media (max-width: 600px) {
  .textfield input[type="text"],
  .textfield input[type="password"] {
    width: 100%;
  }

  button[type="submit"],
  button[type="reset"] {
    width: 100%;
    margin-left: 0; /* let two buttons have same left margin space */
    margin-bottom: 10px; /* set the vertical space between two buttons */
  }
}

.error-message {
  color: red;
  font-size: 70%;
}

#termsError {
  margin-left: 30px;
}

/* --------------------forms end above--------------------*/

/* -------------------------firstPage.html end above------------------------------- */

/* -------------------------tasklist.html start below------------------------------- */

.container-tasks {
  display: flex;
  justify-content: space-between; /*make the list items spread out evenly */
  flex-wrap: wrap; /* Allow the lists to wrap to the next line */ 
  align-items: start;
  padding: 20px;
  gap: 20px; /* Space between the lists */
  background-color: rgba(255, 255, 255, 0); /* Completely transparent background */
}
.list {
  display: flex; /* Make the list items display in a row */
  flex-direction: column; /* Make the list items display in a column */
  flex: 1; /* Make the list items take up equal space */
  border: none;
  background-color: rgba(255, 255, 255, 0.5); /* Completely transparent background */
  margin: 0 5px; /* Add some margin between the lists */
  padding: 10px;
  list-style-type: none; /* Remove the default list style */
  width: 33%; /* Set the width of the list */
  min-height: 400px; /* Set a minimum height for the list */
  max-height: 600px; /* Set a maximum height for the list */
}
.tasklist-header {
  text-align: center;
  background-color: rgba(255, 255, 255, 0); /* Completely transparent background */
  margin-bottom: 20px; /* Add some margin at the bottom */
}
.task-ul {
  padding-left: 0; /* Remove the default padding */
  background-color: rgba(255, 255, 255, 0); /* Completely transparent background */
}

.task-li {
  display: flex;
  justify-content: space-between; /* Align the task name and the delete button to the left and right */
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #000;
  border-radius: 5px; /* Add some border radius */
  background-color: rgba(255, 255, 255, 0); /* Completely transparent background */
}


/* tasklist: add task by XIE */
